__pycache__/
.idea
data/video/*
!data/video/README.md
!data/video/cork_ball_demo.mp4
!data/video/white_ball_demo.mp4
yolov8n.pt
runs/detect/*
!runs/detect/train1
!runs/detect/laserfog_long
!runs/detect/laserfog_v11
!runs/detect/laserfog
!runs/detect/LaserFog15
datasets
/yolo11n.pt
