<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> THE SMART FOOSBALL TABLE</title>
    <link href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>
<div style="background-color: lightgray;padding: 20px;max-width: 100%;margin: 0;margin-top: 50px;">
    <h1>THE SMART FOOSBALL TABLE </h1>
    <p>by Melle Ploeg, Hein Huijskes, Iris ten Klooster, Mathijs Vogelezang & Sophie Takken</p>
</div>
<div style="margin-top: 150px; margin-left:auto; margin-right: auto; text-align: center ">
    <a class="feedpage" href="feedpage.html"> Watch match &rarr;</a>
</div>
</body>
</html>