<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title> Information page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body { font-family: 'Inter'; font-weight: 200; font-size: 22px;
        margin: 0; padding: 0;}
        h1 { font-weight: 200; text-align: center}
        p {text-align: center}
        .feedpage {color: black; background-color: transparent; text-decoration: transparent; font-size: 36px }
        .feedpage:hover { color: grey}
        .infopage {color: black; background-color: transparent; text-decoration: transparent; font-size: 36px }
        .infopage:hover { color: grey}
        .H2{text-align: left; font-weight: 350}
        .H2sub { text-align: left}
    </style>
</head>
<body>

<div style="background-color: rgba(255, 255, 255, 0.75);position: fixed;max-width: 100%; width: 100%; height: 150px">
    <h1 style=" background-color: rgba(255, 255, 255, 0.5);padding: 20px;max-width: 100%; font-weight: 200; text-align: center">
        Information page</h1>
</div>
<div style="position: fixed; margin-left: 10%">
    <a style="color: black; background-color: transparent; text-decoration: transparent;" href="index.html"> <p>&larr;</p></a>

</div>
<p style="height: 150px">
<!--    white space so it doesnt display unvisible text under header-->
</p>
<div style="padding: 10%; padding-top: 0">
    <p class="H2">The smart foosball table</p>
<p class="H2sub"> This website is connected to the smart foosball table. On the smart foosball table a match of table foosball can be played as on a normal
foosball table. However, this foosball table is made smart and can collect and display data on the foosball match. The smart foosball table displays
a camera feed with ball tracking on this website, as well as the average ball speed taken from this. In addition, with distance sensors the foosball table is
able to detect goals being scored and display the score on the website. </p>
<!--    TODO make text-->
    <p class="H2">Starting a match</p>
    <p class="H2sub">To start a match using the smart foosball table, the system has to be running. The system is started if the
    website is running. The 'new game' button can be found on the 'live game' page, which can be navigated to by pressing 'watch match' on the starting screen of the website.
        This 'new game' button can be used to reset the game scores and start a new game.
    </p>
<p class="H2">How it works</p>
<p class="H2sub">When playing on this table, the score is kept by the smart foosball table. Distance sensors in both of the goals of the foosball table are
installed to detect movement. This movement in the goal is registered as a scored point. The smart foosball table keeps track of the score of a match and
displays this on the website. On the website the score as well as a live camera feed and the average speed of the ball are displayed.
The camera is place directly above the table and the codes on all four corners of the foosball table are used to detect
the foosball field. With the use of these codes, called the ArUco markers, the video captured by the camera can be cropped and tilted
to display to foosball field on the website.
The smart foosball table uses the camera footage to compile data, the system can use the footage to track the ball in the field and to compile the average speed.</p>
<!--    TODO average or max speed? -->
    <p class="H2">De-assembling the smart foosball table</p>
<p class="H2sub">The smart foosball table consists of  wooden frame which holds the camera, this can be taken off. The wooden
frame consists of three components. These three components are connected with threaded inserts which can be unscrewed and re-screwed. The first component
is the wooden plank that holds the camera, this can be unscrewed and taken off. (This consists of unscrewing two threaded inserts.) Then two components remain which are no longer connected, but are similar in structure.
    The structure has two threaded inserts on either side of the table, four per component. After unscrewing all 8 threaded inserts the second and third component can also be removed.
    Note that while the structure of the second and third component are similar, the components can only be placed on one side of the foosball table and will not fit on the other side.
</p>
<p style="height: 1000px"> j</p>
<p>hi</p>

</div>

</body>
</html>